%from bottle import request



<html>
  <head>
    <title>Sponzorji</title>
  </head>
  <body>
    <h2>Ekipe</h2>
    %leto = request.url.split("/")[-2]
    <div style="margin-right: 4rem;">
      <a href="/{{leto}}">Nazaj na igralce</a>
    </div>

    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        <th>ID</th>
        <th>Ekipa</th>
        <th>Kratica ekipe</th>
        <th>Trener</th>
        <th>W_sezona</th>
        <th>L_sezona</th>
        <th>Sponzor</th>
        <th>Akcije</th>        
      </tr>
      %for (ID,Ime_ekipe,Kratica,TRENER, W_sezona,L_sezona, Sponzor_na_dresu) in ekipe:
      <tr>
        <td>{{ID}}</td>
        <td>{{Ime_ekipe}}</td>
        <td>
          <div>
            <form action="/{{leto}}/ekipe/{{Kratica}}" method="get">
              <a href="#" onclick="this.parentElement.submit()">{{Kratica}}</a>
            </form>
          </div>
        </td>
        <td>
          <div>
            <form action="/{{leto}}/ekipe/{{Kratica}}/{{TRENER}}" method="get">
              <a href="#" onclick="this.parentElement.submit()">{{TRENER}}</a>
            </form>
          </div>
        </td>
        <td>{{W_sezona}}</td>
        <td>{{L_sezona}}</td>
        <td>{{Sponzor_na_dresu}}</td>
        <td>
          <div class ="akcije">
            <form action="/sezona/ekipe/uredi/{{ID}}" method="get" class="akcija">
              <a href="#" onclick="this.parentElement.submit()">Uredi</a>
            </form>
          </div>
        </td>
      </tr>
      %end
    </table>

  </body>
</html>