% from bottle import request
% rebase('base.html', naslov='Lestvica ekip')
%leto = request.url.split("/")[-2]

<html>
  <head>
    <title>Ekipe</title>
  </head>
  <body>
    
    <!--<div style="margin-right: 4rem;">
      <a href="/{{leto}}">Nazaj na igralce</a>
    </div>-->

    <table class="table table-striped">
      <tr>
        <th>Ekipa</th>
        <th>Kratica ekipe</th>
        <th>Trener</th>
        <th>W_sezona</th>
        <th>L_sezona</th>
        <th>Sponzor</th>
        <th>Akcija</th>
      </tr>
      %for (ID,Ime_ekipe,Kratica,TRENER, W_sezona,L_sezona, Sponzor_na_dresu) in ekipe:
      <tr>
        <td>{{Ime_ekipe}}</td>
        <td>
          <div>
            <form action="/{{leto}}/ekipe/{{Kratica}}" method="get">
              <a href="#" onclick="this.parentElement.submit()">{{Kratica}}</a>
            </form>
          </div>
        </td>
        <td>
          <div>
            <form action="/{{leto}}/ekipe/{{Kratica}}/{{TRENER}}" method="get">
              <a href="#" onclick="this.parentElement.submit()">{{TRENER}}</a>
            </form>
          </div>
        </td>
        <td>{{W_sezona}}</td>
        <td>{{L_sezona}}</td>
        <td>{{Sponzor_na_dresu}}</td>
        <td>
          <form  action="/ekipe/uredi/{{ID}}" method="get"> 
            <input value="Uredi sponzorja" type="submit"/>
          </form>
        </td>    
      </tr>
      %end
    </table>

  </body>
</html>

