<!-- 21min pri V -->

<!-- Že prej nek problem:
InvalidTextRepresentation('invalid input syntax for integer: "sezona"\nLINE 2: ...                     WHERE TRENER = \'10\' AND Sezona=\'sezona\'\n                                                               ^\n') -->
%rebase('base.html',naslov= 'Uredi sponzorja')


<form action="/<Sezona>/ekipe/uredi/{{ID}" method="post"> -->


<!-- </form> -->


<form action="/<Sezona>/ekipe/uredi/{{ekipe[0]}}" method="post">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <span>ID: (zaenkrat)</span>
            </td>
            <td>
                {{ekipe[0]}}
            </td>
        </tr>
        <tr>
           <td>
               Sponzor:
            </td>
            <td>
                <input name="Sponzor_na_dresu" type="text" value="{{ekipe[3]}}" />
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input value="Uredi" type="submit" />
            </td>
        </tr>
    </table>
</form>
