<html>
  <head>
    <title>Sponzorji</title>
  </head>
  <body>
    <h2>Ekipe v sezoni 16/17</h2>


    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        <th>Ime ekipe</th>
        <th>Kratica ekipe</th>
        <th>Trener</th>
        <th>Zmage v sezoni</th>
        <th>Porazi v sezoni</th>
        <th>Sponzor</th>
        <th>Statistika trenerja</th>
        <th>Igralci ekipe</th>
      </tr>
      %for (Ime_ekipe,Kratica,TRENER,W_sezona, L_sezona, Sponzor_na_dresu) in ekipe1617:
      <tr>
        <td>{{Ime_ekipe}}</td>
        <td>{{Kratica}}</td>
        <td>{{TRENER}}</td>
        <td>{{W_sezona}}</td>
        <td>{{L_sezona}}</td>
        <td>{{Sponzor_na_dresu}}</td>
        <td><div>
            <form action="/sezona1617/ekipe/trener/{{TRENER}}" method="get">
              <a href="#" onclick="this.parentElement.submit()">Klik</a>
            </form>
          </div>
        </td>
        <td><div>
          <form action="/sezona1617/ekipe/{{Kratica}}" method="get">
            <a href="#" onclick="this.parentElement.submit()">Klik</a>
          </form>
        </div>
      </td>
      </tr>
      %end
    </table>

  </body>
</html>