%rebase('base.html',naslov= 'Uredi sponzorja')
%from bottle import request
%idekipe = request.url.split("/")[-1]
%leto = request.url.split("/")[-4]

<form action="{{ROOT}}{{leto}}/ekipe/uredi/{{ekipe[0]}}" method="post">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <span>Ekipa: </span>
            </td>
            <td>
                {{ekipe[1]}}
            </td>
        </tr>
        <tr>
            <td>
                <span>Sezona: </span>
            </td>
            <td>
                {{ekipe[3]}}
            </td>
        </tr>
        <tr>
        <tr>
           <td>
               Sponzor:
            </td>
            <td>
                <input name="Sponzor_na_dresu" type="text" value="{{ekipe[2]}}" />
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input value="Uredi" type="submit" />
            </td>
        </tr>
    </table>
</form>
