<html>
  <head>
    <title>Igralci</title>
  </head>
  <body>
    <h2>Igralci v sezoni 17/18</h2>

    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        <th>Ime in priimek</th>
        <th>Ekipa</th>
        <th>Pozicija</th>
        <th>Starost</th>
        <th>Višina</th>
        <th>Teža</th>
        <th>Država</th>
      </tr>
      %for (IGRALEC,EKIPA,POZICIJA,STAROST,VISINA,TEZA,DRZAVA) in igralci1718:
      <tr>
        <td>{{IGRALEC}}</td>
        <td>{{EKIPA}}</td>
        <td>{{POZICIJA}}</td>
        <td>{{STAROST}}</td>
        <td>{{VISINA}} ft</td>
        <td>{{TEZA}} lbs</td>
        <td>{{DRZAVA}}</td>
      </tr>
      %end
    </table>

  </body>
</html>