% setdefault('napaka','')
% rebase('base.html', napaka=napaka, naslov='Igralci v sezoni 16/17')

% include('orodna-vrstica.html', stolpci='[0,1]')
<table id="izpis" cellpadding="0" cellspacing="0" border="1">
  <tr>
    <th>Ime in priimek</th>
    <th>Ekipa</th>
    <th>Pozicija</th>
    <th>Starost</th>
    <th>Višina</th>
    <th>Teža</th>
    <th>Država</th>
  </tr>
  %for (IGRALEC,EKIPA,POZICIJA,STAROST,VISINA,TEZA,DRZAVA) in igralci1617:
  <tr>
    <td>{{IGRALEC}}</td>
    <td>{{EKIPA}}</td>
    <td>{{POZICIJA}}</td>
    <td>{{STAROST}}</td>
    <td>{{VISINA}} ft</td>
    <td>{{TEZA}} lbs</td>
    <td>{{DRZAVA}}</td>
    <td>
      <div>
        <form action="/igralci1617/{{IGRALEC}}/statistika" method="get">
          <a href="#" onclick="this.parentElement.submit()">Statistika</a>
        </form>
      </div>
    </td>
  </tr>
  %end
</table>

