% setdefault('napaka','')
% rebase('base.html', napaka=napaka, naslov='Moji priljubljeni igralci')

%from bottle import request
%leto = None


<table id="izpis" class= "table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Ime in priimek</th>
      <th>Statistika igralca</th>
    </tr>
    </thead>
    %for (username, igralec) in priljubljeni_tabela:
    <tr>
      <td>{{igralec}}</td>
      
      <td>
        <form class="" action="{{ROOT}}{{username}}/priljubljeni/{{igralec}}" method="get">
          <a href="#" onclick="this.parentElement.submit()">Statistika
          </a>
        </form>
      </td>
    </tr>
    %end
  </table>