% setdefault('napaka','')
% rebase('base.html', napaka=napaka, naslov='Statistika izbranega igralca')
%from bottle import request
%leto = request.url.split("/")[-2]

<table id="izpis" class="table">
    <thead class="thead-dark">
        <tr>
            <th>Ime in priimek</th>
            <th>GP</th>
            <th>MPG</th>
            <th>PPG</th>
            <th>APG</th>
            <th>RPG</th>
            <th>SPG</th>
            <th>FT%</th>
            <th>2%</th>
            <th>3%</th>
            <th>Sezona</th>
        </tr>
    </thead>
    %for (IGRALEC,GP,MPG,PPG,APG,RPG,SPG,FT,DVA,TRI,Sezona) in priljubljenistatistika:
    <tr>
        <td>{{IGRALEC}}</td>
        <td>{{GP}}</td>
        <td>{{MPG}}</td>
        <td>{{PPG}}</td>
        <td>{{APG}}</td>
        <td>{{RPG}}</td>
        <td>{{SPG}}</td>
        <td>{{FT}}</td>
        <td>{{DVA}}</td>
        <td>{{TRI}}</td>
        <td>{{Sezona}}</td>
    </tr>
    %end
</table>

<div class="d-flex justify-content-end py-3">
    <a href="{{ROOT}}{{username}}/priljubljeni">
        <button type="button" class="btn btn-outline-secondary">Nazaj na
            priljubljene</button>
    </a>
</div>