% setdefault('napaka','')
% rebase('base.html', napaka=napaka, naslov='Igralci v sezoni')

% include('orodna-vrstica.html', stolpci='[0,1]')

%from bottle import request
%leto = request.url.split("/")[-1]
<!--<%Sezona = bottle.request.url.split("/")[-1]%> 
<p>
  %leto = request.url.split("/")[-1]
  <form action="/{{leto}}/ekipe" method="get">
    <a href="#" onclick="this.parentElement.submit()">Lestvica</a>
  </form>
</p>-->
<table id="izpis" class="table">
  <thead class="thead-dark">
    <tr>
      <th>Ime in priimek</th>
      <th>Ekipa</th>
      <th>Pozicija</th>
      <th>Starost</th>
      <th>Višina</th>
      <th>Teža</th>
      <th>Država</th>
      <th>Možnosti</th>
    </tr>
  </thead>
  %for (IGRALEC,EKIPA,POZICIJA,STAROST,VISINA,TEZA,DRZAVA,Sezona) in Sezona:
  <tr>
    <td>{{IGRALEC}}</td>
    <td>{{EKIPA}}</td>
    <td>{{POZICIJA}}</td>
    <td>{{STAROST}}</td>
    <td>{{VISINA}} ft</td>
    <td>{{TEZA}} lbs</td>
    <td>{{DRZAVA}}</td>
    <td>
      <div>
        <form class="" action="{{ROOT}}{{Sezona}}/{{IGRALEC}}" method="get">
          <a href="#" onclick="this.parentElement.submit()">Statistika
          </a>
        </form>
      </div>
      % if username is not None:
      <div>
        <form action="{{ROOT}}{{username}}/priljubljeni/{{IGRALEC}}&{{Sezona}}" method="post">
          <a href="#" onclick="this.parentElement.submit()" data-toggle="modal" data-target="#exampleModal4"> Dodaj k priljubljenim
          </a>
        </form>
      </div>
      % end
      <!--<div>
      <form class="" action="{{ROOT}}{{Sezona}}/{{IGRALEC}}" method="post">
          <a href="#" onclick="this.parentElement.submit()">Dodaj k priljubljenim
          </a>
        </form> 
      </div>-->
    </td>
  </tr>
  %end

  <!-- Modal -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title col">Igralec je bil dodan med priljubljene!</h5>
        </div>
        <form class="form-signin">     
        </form>
      </div>
    </div>
  </div>

</table>
