
<!-- Obupal sredi dela -->

%rebase('base.html', napaka=napaka, naslov="Uredi sponzorja")


<html>
  <head>
    <title>Sponzorji</title>
  </head>
  <body>
    <h2>Glavni sponzorji ekip v sezoni 16/17</h2>


    <form action="/igralci1617/sponzorji/uredi/{{sponzorji_1617[0]}}" method="post"></form>
        <tr>
            <td>
                <span>Ekipa:</span>
            </td>
            <td>
                {sponzorji_1617[0]}}
            </td>
        </tr>
        <tr>
            <td>
                <span>Kratica:</span>
            </td>
            <td>
                {{sponzorji_1617[1]}}
            </td>
        </tr>
        <tr>
            <td>
                <span>Sponzor:</span>
            </td>
            <td>
                <input name="Sponzor_na_dresu" type="text" value="{{sponzorji_1617[2]}}"/>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                <input value="Popravi" type="submit"/>
            </td>
        </tr>

        
         
         
        
      </form>


   

  </body>
</html> -->