% setdefault('napaka','')
% rebase('base.html', napaka=napaka, naslov='Statistika trenerja')
% from bottle import request
% leto = request.url.split("/")[-4]


<table id="izpis" class="table table-striped">
  <tr>
    <th>Ime in priimek</th>
    <th>Ekipa</th>
    <th>Št. let z ekipo</th>
    <th>Št. let kariere</th>
    <th>Iger v sezoni</th>
    <th>Zmage v sezoni</th>
    <th>Porazi v sezoni</th>
    <th>Iger s klubom</th>
    <th>Zmage z ekipo</th>
    <th>Porazi z ekipo</th>
    <th>Iger v karieri</th>
    <th>Zmage v karieri</th>
    <th>Porazi v karieri</th>
    <th>Zmage v karieri %</th>
  </tr>
  %for (TRENER,EKIPA,st_let_s_klubom,st_let_kariera,G_sezona,W_sezona,L_sezona,G_s_klubom,W_s_klubom,L_s_klubom,G_kariera,W_kariera,L_kariera,W_pr, Sezona) in trenerjistatistika:
  <tr>
    <td>{{TRENER}}</td>
    <td>{{EKIPA}}</td>
    <td>{{st_let_s_klubom}}</td>
    <td>{{st_let_kariera}}</td>
    <td>{{G_sezona}}</td>
    <td>{{W_sezona}}</td>
    <td>{{L_sezona}}</td>
    <td>{{G_s_klubom}}</td>
    <td>{{W_s_klubom}}</td>
    <td>{{L_s_klubom}}</td>
    <td>{{G_kariera}}</td>
    <td>{{W_kariera}}</td>
    <td>{{L_kariera}}</td>
    <td>{{W_pr}}</td>
  </tr>
</table>

<div class="d-flex justify-content-end py-3">
  <div style="margin-right: 1rem;">
    <a href="{{ROOT}}{{Sezona}}/ekipe">
      <button type="button" class="btn btn-outline-secondary">Nazaj na ekipe</button>
    </a>
  </div>
  <div>
    <a href="{{ROOT}}{{Sezona}}/ekipe/{{EKIPA}}">
      <button type="button" class="btn btn-outline-secondary">Nazaj na {{EKIPA}}</button>
    </a>
  </div>
</div>

%end