<!-- <html class="bg">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/stili.css" />
        <!-- Required meta tags
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS 
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous">
        <title>Zacetna</title>
    </head>
    <body class="container float-right">
        <div>
            <h2>Izberi leto</h2>
            <a href="/16">2016/17</a>
            <a href="/17">2017/18</a>
            <a href="/18">2018/19</a>
        </div>
    </body>
    <a class="btn btn-sm btn-outline-secondary" href="/prijava">Prijava</a>
</html>-->
<html lang="sl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <meta name="description" content="">
        <title>Zacetna</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous">
        <link rel="canonical"
            href="https://getbootstrap.com/docs/4.5/examples/cover/">
        <link href="/static/stili.css" rel="stylesheet">
        <!-- <style>
                .bd-placeholder-img {
                  font-size: 1.125rem;
                  text-anchor: middle;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                }
          
                @media (min-width: 768px) {
                  .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                  }
                }
              </style> -->
    </head>
    <body class="text-center html body bg">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">Domača stran</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        % if username:
                            % if admin:
                                <a class="nav-item dropdown">
                                <a class="dropdown-toggle col-4 text-center" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{username}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal1">
                                    Izbriši račun
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/odjava">Odjava</a>
                                </div>
                                </a>
                            % else:
                                <a class="nav-item dropdown">
                                <a class="dropdown-toggle col-4 text-center" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{username}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                                    Postani admin
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal1">
                                    Izbriši račun
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/odjava">Odjava</a>
                                </div>
                                </a>
                            % end
                        % else:
                        <a class="nav-link" href="/prijava">Prijava</a>
                        <a class="nav-link" href="/registracija">Registracija</a>
                        
                        % end
                    </nav>
                </div>
            </header>

            <main role="main" class="container inner cover">
                <h1 class="py-3">Izberi sezono za pregled</h1>
                <div class="row">
                    <p class="lead col">
                        <a href="/16" class="btn btn-lg btn-outline-dark
                            btn-block">2016/17</a>
                    </p>
                    <p class="lead col">
                        <a href="/17" class="btn btn-lg btn-outline-dark
                            btn-block">2017/18</a>
                    </p>
                    <p class="lead col">
                        <a href="/18" class="btn btn-lg btn-outline-dark
                            btn-block">2018/19</a>
                    </p>


                    <!-- <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown link
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/16">Action</a>
                          <a class="dropdown-item" href="/17">Another action</a>
                          <a class="dropdown-item" href="/18">Something else here</a>
                        </div>
                      </div> -->


                </div>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Projekt pri predmetu Osnove podatkovnih baz.</p>
                    <p>Avtorji: Darjan Pavšič, Tim Resnik, Marcel Špehonja.</p>
                </div>
            </footer>


    <!-- ###################################################################################################### -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <style>
            .modal-content h5 {
                color: black;
            }
            </style>
          <h5 class="modal-title col" id="exampleModalLabel">Želiš postati admin?</h5>
        </div>
        <form class="form-signin" action="/postani_admin" method="post">
        <div class="modal-body">
          <input type="password" id="inputPassword" class="form-control" placeholder="Specialno admin geslo" name="adminPassword" required>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-login" type="submit">Postani admin</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title col" id="exampleModalLabel1">Izbris računa</h5>
        </div>
        <form class="form-signin" action="/postani_admin" method="post">
        <div class="modal-body">
          <input type="password" id="inputPassword1" class="form-control" placeholder="Vnesite svoje geslo" name="password" required>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Izbriši</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

%if napaka:
<div class="alert alert-warning">{{napaka}}</div>
%end

    </div>
    </body>
</html>