<!-- <html class="bg">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/stili.css" />
        <!-- Required meta tags
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS 
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous">
        <title>Zacetna</title>
    </head>
    <body class="container float-right">
        <div>
            <h2>Izberi leto</h2>
            <a href="/16">2016/17</a>
            <a href="/17">2017/18</a>
            <a href="/18">2018/19</a>
        </div>
    </body>
    <a class="btn btn-sm btn-outline-secondary" href="/prijava">Prijava</a>
</html>-->
<html lang="sl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <meta name="description" content="">
        <title>Zacetna</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous">
        <link rel="canonical"
            href="https://getbootstrap.com/docs/4.5/examples/cover/">
        <link href="/static/stili.css" rel="stylesheet">
        <!-- <style>
                .bd-placeholder-img {
                  font-size: 1.125rem;
                  text-anchor: middle;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                }
          
                @media (min-width: 768px) {
                  .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                  }
                }
              </style> -->
    </head>
    <body class="text-center html body bg">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">Domača stran</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="/prijava">Prijava</a>
                        <a class="nav-link" href="/registracija">Registracija</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="container inner cover">
                <h1 class="py-3">Izberi sezono za pregled</h1>
                <div class="row">
                <p class="lead col">
                    <a href="/16" class="btn btn-lg btn-outline-dark btn-block">2016/17</a>
                </p>
                <p class="lead col">
                    <a href="/17" class="btn btn-lg btn-outline-dark btn-block">2017/18</a>
                </p>
                <p class="lead col">
                    <a href="/18" class="btn btn-lg btn-outline-dark btn-block">2018/19</a>
                </p>
                </div>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Projekt pri predmetu Osnove podatkovnih baz.</p>
                    <p>Avtorji: Darjan Pavšič, Tim Resnik, Marcel Špehonja.</p>
                </div>
            </footer>
        </div>


    </body>
</html>