h2 {
    color: blue;
}

body {
    font-family: Arial;
}

.zaokrozeni-vogali {
    border-radius: 4px;
}

.orodna-vrstica {
    display: flex;
    background-color: grey;
    padding: 1rem;
    justify-content: space-around;
}

#isci {
    line-height: 1.5rem;
    margin-left: 0.5rem;
}