h2 {
    color: blue;
}

/* body {
    font-family: Arial;
} */

.zaokrozeni-vogali {
    border-radius: 4px;
}

.orodna-vrstica {
    display: inline-flex;
    background-color: lightgray;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    
}

#isci {
    line-height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 5rem;
}

.bg {
    background-image: url("https://www.vmcdn.ca/f/files/kitchenertoday/images/sports/basketball.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }